@inherits LayoutComponentBase
@using Sales_funnel.Components.Global

<div class="min-h-screen flex flex-col">
    <Header />
    
    <main class="flex-grow">
        @Body
    </main>

    <Footer />
</div>
