@page "/formulario-cadastro"
@using Sales_funnel.Components.Global
@using Sales_funnel.Components.FormularioCadastro
@using Sales_funnel.Components.UI
@inject NavigationManager NavigationManager

<SEO 
    Title="Cadastro - PWA Master"
    Description="Cadastre-se para receber conteúdos exclusivos sobre PWAs e tenha acesso ao e-book PWA Master." 
/>

<div class="bg-gradient-to-b from-blue-50 to-white py-16 min-h-screen">
    <div class="container mx-auto px-4">
        <div class="max-w-5xl mx-auto">
            <div class="flex flex-col lg:flex-row mt-12 gap-8">
                <!-- Coluna do formulário -->
                <div class="lg:w-3/5 bg-white rounded-2xl shadow-lg p-8 border border-gray-100 order-2 lg:order-1 transform hover:shadow-xl transition-shadow duration-300">
                    @if (!isFormSubmitted)
                    {
                        <FormHeader Title="Comece sua jornada PWA agora"
                            Description="Junte-se a mais de 500 desenvolvedores que já estão elevando suas carreiras. Faltam apenas 50 segundos para você ter acesso ao conteúdo exclusivo." />
                        <FormFields OnFormSubmit="HandleFormSubmit" />
                        <PrivacyTerms />
                    }
                    else
                    {
                        <SuccessMessage 
                            Email="@submittedEmail"
                            OnContinueClick="@(() => NavigationManager.NavigateTo("/conteudo-engajamento"))" 
                        />
                    }
                </div>
                <!-- Coluna de benefícios -->
                <Beneficios />
            </div>
        </div>
    </div>
</div>



@if (!isFormSubmitted)
{
    <section class="py-16 bg-white">
        <div class="container mx-auto px-4">
            <Exclusivo />
            <ProvaSocial />
        </div>
    </section>
}

@code {
    private bool isFormSubmitted = false;
    private string submittedEmail = "";

    private void HandleFormSubmit(Sales_funnel.Components.FormularioCadastro.FormFields.FormData data)
    {
        // Em um ambiente real, aqui seria feito o processamento do formulário
        // como salvar em um banco de dados ou enviar para uma API

        isFormSubmitted = true;
        submittedEmail = data.Email;
    }


}
