@page "/"
@using Sales_funnel.Components.Global
@using Sales_funnel.Components.LandingPage
@using Sales_funnel.Components.UI
@inject NavigationManager NavigationManager

<SEO Title="Domine Aplicações Web Progressivas"
    Description="Aprenda a criar PWAs que funcionam offline, enviam notificações e oferecem uma experiência de aplicativo nativo. Conheça o e-book PWA Master."
    Keywords="@(new[] { "PWA", "Progressive Web Apps", "Desenvolvimento Web", "E-book", "Service Workers", "Offline" })" 
/>
<div>
   

    <Hero OnPrimaryButtonClick="@(() => NavigateToRegistration())" />
    <BenefitsList OnCTAButtonClick="@(() => NavigateToRegistration())" />
    <div id="preview-section">
        <PreviewContent OnCallToActionClick="@(() => NavigateToRegistration())" />
    </div>

    <Sales_funnel.Components.LandingPage.Diferenciais />

    <Sales_funnel.Components.LandingPage.CardAction />
</div>

@code {
    private void NavigateToRegistration()
    {
        NavigationManager.NavigateTo("/formulario-cadastro");
    }

}
