@page "/"
@using Sales_funnel.Components.Global
@using Sales_funnel.Components.LandingPage
@using Sales_funnel.Components.UI
@inject NavigationManager NavigationManager


<div>
   

    <Hero OnPrimaryButtonClick="@(() => NavigateToRegistration())" />
    <BenefitsList OnCTAButtonClick="@(() => NavigateToRegistration())" />
    <div id="preview-section">
        <PreviewContent OnCallToActionClick="@(() => NavigateToRegistration())" />
    </div>

    <Sales_funnel.Components.LandingPage.Diferenciais />

    <Sales_funnel.Components.LandingPage.CardAction />
</div>

@code {
    private void NavigateToRegistration()
    {
        NavigationManager.NavigateTo("/formulario-cadastro");
    }

}
